{{>bootstrap_header}}
<a>{{>dataEntryHeader}}</a>
{{#if id}}
    <form action="/api/addItem/{{id}}" method="post">
        {{#if success}}
            <div class="alert alert-success col-md-6" role="alert">
                Successfully added item category {{success}}!
            </div>
        {{/if}}
        <div class="row">
            <div class="form-group col-md-3">
                <label for="vendorID">Vendor ID</label>
                <input name="id" type="text" class="form-control" id="vendorID" placeholder="000000" value="{{id}}" readonly>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-3">
                <label for="barcode">Item ID</label>
                <input name="barcode" type="text" class="form-control" id="barcode" placeholder="000000">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-3">
                <label for="category">Item Code</label>
                <input name="category" type="text" class="form-control" id="itemCode" placeholder="0">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-3">
                <label for="price">Price</label>
                <input name="price" type="text" class="form-control" id="price" placeholder="$1.00">
            </div>
        </div>
        <button type="submit" class="btn btn-primary col-md-3" style="margin-top: 1%">Submit</button>
    </form>
{{else}}
    <form action="/dataEntryHome/addItem/" method="get">
        <div class="row">
            <div class="form-group col-md-3">
                <label for="vendorID">Vendor ID</label>
                <input name="id" type="text" class="form-control" id="vendorID" placeholder="000000">
            </div>
            <button type="submit" class="btn btn-primary col-md-3" style="margin-top: 1%">Submit</button>
        </div>
    </form>
{{/if}}
<a>{{>footer}}</a>
{{>bootstrap_scripts}}
