<a>{{>header}}</a>
<form>
    <label>
        <input type="text" placeholder="Vendor ID">
    </label>
    <label>
        <input type="text" placeholder="First Name">
    </label>
</form>
<a>{{>footer}}</a>
