<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <a>{{>header}}</a>
        <h1>{{title}}</h1>
        <p>Welcome to {{title}}</p>
        <a href="/addItem">Go to addItem</a>
        <br>
        <br>
    <a>{{>footer}}</a>
</body>
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
