{{>bootstrap_header}}
<a>{{>posHeader}}</a>
<form method="post" action="/api/sellItem">
    <div class="row">
        <div class="form-group col-md-3">
            <label for="barcode">Barcode</label>
            <input name="barcode" type="text" class="form-control" id="barcode" placeholder="000000">
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-3">
            <label for="price">Price</label>
            <input name="price" type="text" class="form-control" id="price" placeholder="$1.00">
        </div>
    </div>
    <button type="submit" class="btn btn-primary" style="margin-top: 1%">Submit</button>
</form>
<a>{{>footer}}</a>
{{>bootstrap_scripts}}
